.masonry {
    column-count: 4;
    column-gap: 1em;
  }
  
  .masonry-item {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
  }
  
  .masonry-item img {
    width: 100%;
    height: auto;
  }
  