.masonry {
    column-count: 4;
    column-gap: 1em;
  }
  
  .masonry-item {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
  }
  
  .masonry-item img {
    width: 100%;
    height: auto;
  }
  


  
  .my-masonry-grid {
    display: flex;
    /* margin-left: -30px;  */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* some gutter px */
    background-clip: padding-box;
  }
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
  }
  .my-masonry-grid_column > div img {
    width: 100%;
    height: auto;
  }